<ion-content>

  <div class="logo">

      <ion-img id="logo" src="../../assets/icon/My_feather.png"></ion-img>

  </div>

  <p id="slogon"> diffuser vos histoires </p>

  <div class="flex">
      <ion-button color="facebook" id="fbbtn">
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
          Facebook
      </ion-button>
      <ion-button color="google" id="gglbtn">
          <ion-icon slot="start" name="logo-google"></ion-icon>
          Google
      </ion-button>
  </div>

  <hr>
  <fieldset>
      <ion-item>
          <ion-label color="light">Email</ion-label>
          <ion-input color="light" type="mail"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label color="light">Username</ion-label>
          <ion-input color="light" type="text"></ion-input>
      </ion-item>


      <ion-item>
          <ion-label color="light">Mot de passe</ion-label>
          <ion-input color="light" type="password"></ion-input>
      </ion-item>


      <ion-item>
          <ion-label color="light">Age</ion-label>
          <ion-input color="light" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label color="light">Ville</ion-label>
          <ion-input color="light" type="text"></ion-input>
      </ion-item>
  </fieldset>

  <ion-button id="connexion" color="#EA765E"> Sign Up </ion-button>

  <a href="">Vous avez un compte ? Log In </a>
</ion-content>