
<ion-content> 
    <router-outlet name="bodytop"></router-outlet>
    <ion-footer>
      <ion-tabs>
        <ion-tab-bar >
          <ion-tab-button tab="menuhome">  <ion-icon  size="large" name="home"></ion-icon> </ion-tab-button>
        </ion-tab-bar>
        <ion-tab-bar >
            <ion-tab-button tab="menuprofil">  <ion-icon  size="large" name="person"></ion-icon> </ion-tab-button>
          </ion-tab-bar>
        <ion-tab-bar >
              <ion-tab-button tab="menuwrite">  <ion-icon  size="large" name="create"></ion-icon> </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-footer>
  </ion-content>
